/* ▼ This ▼ is for you to easily reference the colors on the Site.css page */
/* Do not uncomment these color variables */

/* CSS color variables */
/*:root {*/ /* Color palette for css */
    /*--main-color: #DB1A11;*/ /* Red */
    /*--main-color--light: #F04D44;*/ /* Red, a shade lighter */
    /*--secondary-color: #D6972A;*/ /* Yellow gold */
    /*--light-color: #FFFBFB;*/ /* White */
    /*--dark-color: #000000;*/ /* Black */
    /*--secondary-color--dark: #9D7C39;*/ /* Dark Gold */
    /*--light-blue: rgb(93, 123, 244)*/ /*Light Blue - Added color on top of original*/
/*}*/

