
@{
    ViewBag.Title = "SignIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="py-5 text-center">
    @*Centered text and padded bottom*@
<h1>Developers of TheatreCMS</h1>
<h2>SignIn</h2>
</div>

@* Add your name to the bottom of the list like so: *@
@* <p>YOUR NAME</p> *@

<div class="text-center">
    @*Centered text*@
    <p>Raquel Rulli</p>
    <p>Drew Slone</p>
    <p>Emily-Maud Morris</p>
    <p>Kevin McCrea</p>
    <p>Jeffrey Arnold</p>
    <p>Rhodri Thomas</p>
    <p>Kevin Deming</p>
    <p>Jaimie Bertoli</p>
    <p>Dave Defourneaux</p>
    <p>Cory Grundy</p>
    <p>Brian Brown</p>
    <p>Stephen Webb</p>
    <p>Austin Riggs</p>
    <p>Michael Shigezumi</p>
    <p>Derek Threeton</p>
    <p>Harrison Wayman</p>
    <p>Garret Breitenbach</p>
    <p>Daisy Salem</p>
    <p>Garrett Henricks</p>
    <p>Damon Flick</p>
    <p>Matt Edey</p>
    <p>Robert McCabe</p>
    <p>Libby Bacon</p>
    <p>Kristin Skelton</p>
    <p>Desiree Fredenburg</p>
    <p>Lyman McBride</p>
    <p>Chris Robinson</p>
    <p>Tyler Branscome</p>
    <p>Kameron Jackson</p>
    <p>Priyanka Thakan</p>
    <p>Breanna Starika</p>
    <p>Jacob Long</p>
    <p>Maxim Ignatyev</p>
    <p>Brian Reeves</p>
    <p>Esie Vaughn</p>
    <p>Adam Kelley</p>
    <p>Jason Fors</p>
</div>